<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.asdoi.quicksettings">

    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.DUMP"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        android:maxSdkVersion="28"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mikepenz.aboutlibraries.ui.LibsActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />

        <service
            android:name=".tiles.PlayPauseTileService"
            android:enabled="false"
            android:icon="@drawable/ic_play_pause"
            android:label="@string/play_pause"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.NextSongTileService"
            android:enabled="false"
            android:icon="@drawable/ic_skip_next"
            android:label="@string/next_song"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.PreviousSongTileService"
            android:enabled="false"
            android:icon="@drawable/ic_skip_previous"
            android:label="@string/previous_song"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.MediaVolumeTileService"
            android:enabled="false"
            android:icon="@drawable/ic_music_video"
            android:label="@string/media_volume"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".tiles.GrayscaleTileService"
            android:enabled="false"
            android:icon="@drawable/ic_grayscale"
            android:label="@string/grayscale"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.AdaptiveBrightnessTileService"
            android:enabled="false"
            android:icon="@drawable/ic_brightness_auto"
            android:label="@string/adaptive_brightness"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
            <meta-data
                android:name="android.service.quicksettings.ACTIVE_TILE"
                android:value="true" />
        </service>
        <service
            android:name=".tilesUtils.AdaptiveBrightnessTileJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".tiles.UsbDebuggingTileService"
            android:enabled="false"
            android:icon="@drawable/ic_usb_debugging_enabled"
            android:label="@string/usb_debugging"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.FinishActivitiesTileService"
            android:enabled="false"
            android:icon="@drawable/ic_finish_activities_enabled"
            android:label="@string/finish_activities"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.KeepScreenOnTileService"
            android:enabled="false"
            android:icon="@drawable/ic_keep_screen_on_enabled"
            android:label="@string/keep_screen_on"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.DemoModeTileService"
            android:enabled="false"
            android:icon="@drawable/ic_demo_mode_enabled"
            android:label="@string/demo_mode"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.AnimatorDurationTileService"
            android:enabled="false"
            android:icon="@drawable/ic_animator_duration_enabled"
            android:label="@string/animator_duration"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.ShowTapsTileService"
            android:enabled="false"
            android:icon="@drawable/ic_show_taps_enabled"
            android:label="@string/show_taps"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.ToggleAnimationTileService"
            android:enabled="false"
            android:icon="@drawable/ic_animation_on"
            android:label="@string/disable_all_animations"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.NewAlarmTileService"
            android:enabled="false"
            android:icon="@drawable/ic_alarm_add"
            android:label="@string/new_alarm"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.NewTimerTileService"
            android:enabled="false"
            android:icon="@drawable/ic_timer"
            android:label="@string/new_timer"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.OpenCameraTileService"
            android:enabled="false"
            android:icon="@drawable/ic_photo_camera"
            android:label="@string/open_camera"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.OpenCalculatorTileService"
            android:enabled="false"
            android:icon="@drawable/ic_grid_on"
            android:label="@string/open_calculator"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.OpenVolumePanelTileService"
            android:enabled="false"
            android:icon="@drawable/ic_volume_up"
            android:label="@string/open_volume_panel"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.BrightnessTileService"
            android:enabled="false"
            android:icon="@drawable/ic_brightness_high"
            android:label="@string/adjust_brightness"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.OpenFilesTileService"
            android:enabled="false"
            android:icon="@drawable/ic_folder"
            android:label="@string/open_files"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.BatteryTileService"
            android:enabled="false"
            android:icon="@drawable/ic_battery_full"
            android:label="@string/battery"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.OpenVpnTileService"
            android:enabled="false"
            android:icon="@drawable/ic_vpn_key"
            android:label="@string/vpn"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".tiles.DataUsageTileService"
            android:enabled="false"
            android:icon="@drawable/ic_data_usage"
            android:label="@string/data_usage"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>


        <receiver android:name=".tilesUtils.BootCompletedBroadcastReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>